
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(120, 197, 215, .85);
    
}

#logo_link {
    height: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center; 
    grid-column: 1/2; 
    height: 100%;   
}

#logo {
    width: 80px;
}

#maintitle {       
    height: 100%;
    grid-column: 2/11; 
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(19,66,102);
    margin: 0;
    font-size: 56px;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

#content {    
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#river1 {
    grid-column: 1/2;
}

#river2 {
    grid-column: 1/2;
}

#river3 {
    grid-column: 1/2;
}

