#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    text-align: center;
    color: rgb(19,66,102);
    text-decoration: none;
}
#hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
}
header {
    background-color:rgb(120,197,215);
}
nav a:hover {
    background-color: rgb(120,197,215);
    color: rgb(252,225,114);
}
.book {
    background-color: white;
    color: rgb(19,66,102);
    text-decoration: none;
}
.join {
    background-color: rgb(19,66,102);
    color: white;
    text-decoration: none;
}
.book:hover {
    background-color: white;
    color: rgb(252,225,114);
}
.join:hover {
    background-color: rgb(19,66,102);
    color: rgb(252,225,114);
}
#background {
    background-color:rgb(252,225,114);
}
.msg {
    background-color:rgb(19,66,102);
}
footer {
    background-color:rgb(120,197,215);
    color: rgb(19,66,102)
}
footer a {
    color: rgb(19,66,102);
    text-decoration: none;
}
footer a:hover {
    color: rgb(252,225,114)
}
.home-title {
    color: rgb(19,66,102);
}
h4 {
    color: rgb(19,66,102);
}
.msg h2 {
    color: rgb(120,197,215);
}
.msg p {
    color: rgb(120,197,215);
}
.logo, .icon {
    width: 80px;
}
#hero-image {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
/*Test*/
