@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@300&display=swap');

header {
    background-color: #8D99AE;
    height: 150px;
    width: 100%;
    display: flex;
    
}

.banner {
    
    width: 100%;       
    align-self: center;
}

.maintitle {    
    width: 100%;
    color: #2B2D42;
    font-family: "Merriweather", "Times New Roman", Times, serif ;
    text-align: center;    
    font-size: 60px;
}

.searchlink {     
    width: 33%; 
    height: 25%; 
    font-size: 20px;
    text-align: center;    
    border-style: solid;
    border-color: #2B2D42;          
    background-color: #EDF2F4;
    color: #2B2D42;
    text-decoration: none;
}

.logo {
    height: 100%;    
    padding-left: 20px;
    padding-top: 20px;
}

#main {
    font-size: 16px;
    padding-top: 40px;        
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    place-items: center;
    height: 800px;
    column-gap: 40px;    
}

#bullet1, #bullet2, #para1, #para2 {     
    grid-column: 2/4; 
    color: #2B2D42;  
     
}

#bullet1, #bullet2 {
    height: 50%; 
    width: 50%;   
    
    text-align: center;
    font-size: 2.5em;    
    font-family: "Anton", "Times New Roman", Times, serif ;    
}

#para1, #para2 {
    font-size: 1em;
    font-family: "Merriweather", "Times New Roman", Times, serif ; 
    height: 100%;
}

#bullet1 {    
    grid-row: 1/2;
}

#para1 {
    grid-row: 2/4;
}

#bullet2 {
    grid-row: 4/5;
}

#para2 {
    grid-row: 5/9;
    
}

#vfdpic, #motorpic {
    width: 75%;
    grid-column: 4/5;
}

#machinepic {    
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/9;
}

#vfdpic {        
    grid-row: 1/4;
}

#motorpic {    
    grid-row: 4/9;
}

footer {
    background-color: #8D99AE;
    height: 100px;
    width: 100%;  
    display: flex;  
    place-items: center;   
}

#siteplan {
    font-size: 20px;
}

header nav {
    width: 50%;    
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(19,66,102);
    
    align-self: center;
    font-size: 30px;
}

header nav a {
    background-color: #EDF2F4;
    padding: 6px;
    text-decoration: none;
    border-radius: 5px;
}

footer {    
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.5em;
}

#social {
    grid-column: 1/2;
}

#links {
    grid-column: 2/3;
    font-size: 1.5em;
}


#searchmain {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 800px;
    grid-column-gap: 5px;
    padding-bottom: 30px;
    grid-gap: 10px;
}

#left {    
    grid-row: 2/11;
    grid-column: 1/4;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10fr);
    grid-template-columns: 1fr;
    place-content: center;
}

#picture {
    border-style: solid;
    width: 100%;
    margin-top: 8px;
    
    grid-row: 8/11;
}

#tree {
    border-style: solid;
    width: 100%;
    
    grid-row: 1/8;
}

#results {
    border-style: solid;
    width: 100%;
    height: 100%;
    grid-column: 4/13;
    grid-row: 2/11;
    
}

#manufacturers {    
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    align-self: center;
    align-content: center;
    height: 26px;
}

#searchbox {
    grid-column: 5/9;
    display: flex;
    
    height: 25px;
    align-self: center;
    width: 100%;
}

#drop {
    height: 100%;
    width: 225px;
}

#searchbutton {
    
    width: 100%;
    height: 25px;
    align-self: center;
    align-content: center;
    grid-column: 9/13;
}

#button {
height: 100%;
width: 33%;

}

#label {
    width: 85px;
    padding-top: 3px;
}

#manlabel {
    padding-top: 3px;
    padding-right: 3px;
}

body {
    min-width: 900px;
}

#locations, #history {
    border-style: solid;
    width: 100%;
    margin-bottom: 10px;
}

#detailsmain h1 {
    text-align: center;
    color: #2B2D42;
}



